body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    overflow: hidden;
}
form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"], form textarea, form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
}

form button {
    display: block;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #3e8e41;
}